/* Konteyner ayarları */
.bottle-container {
  position: relative;
  width: 291px;
  height: 432px;
}

.bottle-container .mask {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 291px;
  height: 432px;
  -webkit-clip-path: url(#bottle);
  clip-path: url(#bottle);
}

.bottle-container .mask .fill {
  position: absolute;
  bottom: 16px;
  left: 0;
  background: #55c0f3;
  opacity: 1;
  height: 0px;
  width: 100%;
  transition: height 1.5s ease-in-out;
  animation: wave 3s infinite linear;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes wave {
  0% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 2.91%,
      5% 2.87%,
      10% 2.77%,
      15% 2.6%,
      20% 2.38%,
      25% 2.11%,
      30% 1.81%,
      35% 1.5%,
      40% 1.18%,
      45% 0.88%,
      50% 0.6%,
      55% 0.36%,
      60% 0.18%,
      65% 0.06%,
      70% 0%,
      75% 0.02%,
      80% 0.1%,
      85% 0.25%,
      90% 0.46%,
      95% 0.71%,
      100% 1%
    );
  }
  25% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 1.45%,
      5% 1.14%,
      10% 0.83%,
      15% 0.56%,
      20% 0.33%,
      25% 0.16%,
      30% 0.05%,
      35% 0%,
      40% 0.03%,
      45% 0.12%,
      50% 0.28%,
      55% 0.49%,
      60% 0.75%,
      65% 1.05%,
      70% 1.36%,
      75% 1.68%,
      80% 1.99%,
      85% 2.27%,
      90% 2.51%,
      95% 2.7%,
      100% 2.84%
    );
  }
  50% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 0%,
      5% 0.04%,
      10% 0.14%,
      15% 0.31%,
      20% 0.53%,
      25% 0.79%,
      30% 1.09%,
      35% 1.41%,
      40% 1.73%,
      45% 2.03%,
      50% 2.31%,
      55% 2.54%,
      60% 2.73%,
      65% 2.85%,
      70% 2.9%,
      75% 2.89%,
      80% 2.8%,
      85% 2.66%,
      90% 2.45%,
      95% 2.19%,
      100% 1.9%
    );
  }
  75% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 1.45%,
      5% 1.77%,
      10% 2.07%,
      15% 2.34%,
      20% 2.57%,
      25% 2.75%,
      30% 2.86%,
      35% 2.91%,
      40% 2.88%,
      45% 2.79%,
      50% 2.63%,
      55% 2.41%,
      60% 2.15%,
      65% 1.86%,
      70% 1.54%,
      75% 1.23%,
      80% 0.92%,
      85% 0.64%,
      90% 0.39%,
      95% 0.2%,
      100% 0.07%
    );
  }
  100% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 2.91%,
      5% 2.87%,
      10% 2.77%,
      15% 2.6%,
      20% 2.38%,
      25% 2.11%,
      30% 1.81%,
      35% 1.5%,
      40% 1.18%,
      45% 0.88%,
      50% 0.6%,
      55% 0.36%,
      60% 0.18%,
      65% 0.06%,
      70% 0%,
      75% 0.02%,
      80% 0.1%,
      85% 0.25%,
      90% 0.46%,
      95% 0.71%,
      100% 1%
    );
  }
}
